 <footer
          class="text-center mt-5"
          style="background-color: #092635; height: 900px"
        >
          <div
            class="d-flex flex-row justify-content-around align-items-center"
          >
            <section class="d-flex flex-column">
              <h4 style="color: white; font-size: 80px">Contact Us</h4>
              <div class="d-flex flex-row justify-content-center">
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1"
                  href="https://www.linkedin.com/in/faresedres/"
                  role="button"
                  style="background-color: white; width: 50px"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn-lg text-body m-1"
                  href="https://github.com/FaresEdres"
                  role="button"
                  style="background-color: white; width: 50px"
                  ><i class="fa-brands fa-github"></i
                ></a>
                <a
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating btn text-body m-1"
                  href="https://www.facebook.com/"
                  role="button"
                  style="background-color: white; width: 50px"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
              </div>
            </section>
            <form
              style="height: 800px"
              class="d-flex flex-column justify-content-around"
            >
              <div class="form-group">
                <label for="name"
                  ><p style="color: #9ec8b9; font-size: 30px">
                    Full Name
                  </p></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="FirstName SecondName"
                />
              </div>
              <div class="form-group">
                <label for="email-address"
                  ><p style="color: #9ec8b9; font-size: 30px">
                    Email address
                  </p></label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email-address"
                  placeholder="name@example.com"
                />
              </div>

              <div class="form-group">
                <label for="Feedback"
                  ><p style="color: #9ec8b9; font-size: 30px">Feedback</p>
                </label>
                <textarea
                  width="100px"
                  class="form-control"
                  id="Feedback"
                  rows="5"
                ></textarea>
              </div>
              <div class="form-group"></div>
              <div>
                <button
                  type="button"
                  style="background-color: #092635; border-color: #9ec8b9"
                  class="btn btn-primary"
                >
                  Send your Feedback
                </button>
              </div>
            </form>
          </div>

          <div class="text-center p-3" style="background-color: white">
            <span>Mail:</span>
            <a class="text-body" href="mailto:faresedres1@gmail.com"
              ><span>faresedres1&#64;gmail.com</span></a
            >
          </div>
        </footer>