<div
  class="row d-flex w-100 justify-content-between align-items-center"
  style="height: 900px"
>
  <div class="col title">
    <i class="fa-solid fa-code"></i>
    <p style="font-size: 100px; color: #092635">About me</p>
  </div>

  <div class="col" style="padding-top: 90px">
    <h3 class="row fw-bolder" style="font-size: 80px">Experience</h3>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1" style="font-size: 25px">Embedded Software Instructor</p>
      <small style="font-family: League; font-size: 14px; color: #1b4242"
        >Sep 2022 - Dec 2022
      </small>
    </div>
    <p class="mb-1" style="font-size: 25px">Sprints</p>
    <p>
      Led meetings to guide students on efficiently completing their projects,
      offering technical and strategic advice
    </p>
    <h3 class="row fw-bolder" style="font-size: 80px; padding-top: 20px">
      Education
    </h3>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1" style="font-size: 25px">MSA University</p>
      <small style="font-family: League; font-size: 14px; color: #1b4242">
        Sep. 2017 – Jul 2022</small
      >
    </div>
    <p>
      Bachelor of Science in Electrical, Communication and Electronics
      Engineering
    </p>
    <span>
      <a
        href="https://angular-day1.vercel.app/assets/cv.pdf"
        download="Ahmed_Zaki.pdf"
      >
        <button>Download CV</button>
      </a>
    </span>
  </div>
</div>
