<div class="d-flex flex-row mx-5 justify-content-between align-items-center">
  <div>
    <a class="navbar-brand main-logo" routerLink="/">MarketPlace</a>
    <button class="navbar-toggler" type="button"></button>
  </div>
  <div class="d-flex flex-row justify-content-end align-items-center">
    <div style="margin: 10px 0px; width: 5em">
      <a class="nav-link nav-items" routerLink="register"> Register</a>
    </div>
    <div style="margin: 10px 20px; width: 5em">
      <a class="nav-link nav-items" routerLink="login"> Login</a>
    </div>

    <div>
      <a class="nav-link" routerLink="cart">
        <i
          class="fa-solid fa-cart-shopping position-relative"
          style="font-size: 120%; color: black"
        >
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            style="font-size: 40%"
          >
          </span
        ></i>
      </a>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary position-relative">
  Inbox
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
</button> -->
