<div class="row">
  <div class="px-4 py-5 my-5 text-center">
    <img
      src="https://cdni.iconscout.com/illustration/premium/thumb/coding-illustration-download-in-svg-png-gif-file-formats--html-logo-c-plus-developer-concept-based-pack-miscellaneous-illustrations-4037522.png?f=webp"
      class="sFlh5c FyHeAf iPVvYb"
      style="max-width: 675px; margin: 0px; width: 100%"
      alt="9,771 Coding Illustrations - Free Download in SVG, PNG, EPS ..."
      jsname="kn3ccd"
    />
    <h1>Fares Rabie Edres</h1>
    <h2 class="mb-4">Software Engineer</h2>
  </div>
</div>
