<div class="row w-100 pt-5 text-center" style="height: 1000px">
  <h3 class="title">Portfolio</h3>
  <div class="container text-center">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="m-2">
        <div class="card" style="width: 20rem; height: 100%">
          <div class="card-body">
            <h3 class="card-title">Hangman</h3>
            <p class="card-text">
              A classic word-guessing project where players attempt to uncover a
              hidden word by guessing one letter at a time.
            </p>
            <a
              href="https://github.com/FaresEdres/ITI/tree/main/JavaScript/Lab3"
              class="btn btn-primary"
              style="background-color: #1b4242; border-color: #9ec8b9"
              >Project Link</a
            >
          </div>
        </div>
      </div>
      <div class="m-2">
        <div class="card" style="width: 20rem; height: 100%">
          <div class="card-body">
            <h3 class="card-title">Library Management System</h3>
            <p class="card-text">
              A Java project showcasing OOP principles, exception handling, and
              generics to manage library items and clients.
            </p>
            <a
              href="https://github.com/FaresEdres/LibraryManagementSystem"
              class="btn btn-primary"
              style="background-color: #1b4242; border-color: #9ec8b9"
              >Project Link</a
            >
          </div>
        </div>
      </div>
      <div class="m-2">
        <div class="card" style="width: 20rem; height: 100%">
          <div class="card-body">
            <h3 class="card-title">CRUD-System</h3>
            <p class="card-text">
              A simple Employee Management System built in C that provides CRUD
              functionality using a menu-driven interface.
            </p>
            <a
              href="https://github.com/FaresEdres/LibraryManagementSystem"
              class="btn btn-primary"
              style="background-color: #1b4242; border-color: #9ec8b9"
              >Project Link</a
            >
          </div>
        </div>
      </div>
      <div class="m-2">
        <div class="card" style="width: 20rem; height: 100%">
          <div class="card-body">
            <h3 class="card-title">On-demand Traffic light control</h3>
            <p class="card-text">
              A traffic light system with two modes: a normal car traffic light
              mode and an on-demand pedestrian mode.
            </p>
            <a
              href="https://github.com/FaresEdres/On-demand-Traffic-light-control"
              class="btn btn-primary"
              style="background-color: #1b4242; border-color: #9ec8b9"
              >Project Link</a
            >
          </div>
        </div>
      </div>
      <div class="m-2">
        <div class="card" style="width: 20rem">
          <div class="card-body">
            <h3 class="card-title">On-demand Traffic light control</h3>
            <p class="card-text">
              A traffic light system with two modes: a normal car traffic light
              mode and an on-demand pedestrian mode.
            </p>
            <a
              href="https://github.com/FaresEdres/On-demand-Traffic-light-control"
              class="btn btn-primary"
              style="background-color: #1b4242; border-color: #9ec8b9"
              >Project Link</a
            >
          </div>
        </div>
      </div>
      <div class="m-2">
        <div class="card" style="width: 20rem">
          <div class="card-body">
            <h3 class="card-title">On-demand Traffic light control</h3>
            <p class="card-text">
              A traffic light system with two modes: a normal car traffic light
              mode and an on-demand pedestrian mode.
            </p>
            <a
              href="https://github.com/FaresEdres/On-demand-Traffic-light-control"
              class="btn btn-primary"
              style="background-color: #1b4242; border-color: #9ec8b9"
              >Project Link</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
